h1 {
  margin-left: 10px;
  text-transform: capitalize;
}
.weather {
  border: 1px solid #dddddd;
}
li {
  list-style: none;
}
.main-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form {
  margin-top: 30px;
  margin-left: 10px;
}

.current-temp {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  color: #333333;
}
.units {
  position: relative;
  font-size: 18px;
  top: -34px;
}
