h1 {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 100;
  margin: 20px;
  line-height: 29px;
}
.weather {
  border: 1px solid #dddddd;
  border-radius: 4px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.main-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form {
  margin-top: 20px;
  margin-left: 22px;
}

.current-temp {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  color: #333333;
}
.current-temp a {
  text-decoration: none;
}
.units {
  position: relative;
  font-size: 18px;
  top: -34px;
  margin: 0 auto;
}
.main-canvas {
  margin-right: 10px;
}
